arpanaxml/3/7.dtd


<!ELEMENT Movie ( title, year, _director, (comment | newcomment)+)> 
<!ATTLIST Movie id ID #REQUIRED> 
<!ELEMENT title (#PCDATA)> 
<!ELEMENT year (#PCDATA) > 
<!ELEMENT director (#PCDATA)> 
<!ATTLIST director name CDATA #IMPLIED> 
<!ELEMENT comment (#PCDATA)> 
<!ELEMENT newcomment (#PCDATA)> 
<!ATTLIST comment lang CDATA #IMPLIED> 